@charset "UTF-8";

#status{
    color: var(--head-bg-color);
}

#status_code{
    font-size: 4.5rem;
    font-weight: bold;
}

#status_text{
    display: inline-block;
    font-size: 2.2rem;
    margin-left: 0.8rem;
}

#text{
    color: var(--text-color);
    margin-top: 0.5rem;
}