<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>なんでも掲示板</title>
</head>
<body>
    <header>
        <div id="header-title">なんでも掲示板</div>
    </header>
    <main>
        <article>
            <div id="status">
                <span id="status_code"><%= @status_code %></span>
                <span id="status_text"><%= @status_text %></span>
            </div>
            <div id="text">
                <span><%= @error_text %></span>
            </div>
        </article>
    </main>
</body>
</html>